
\.vs/AdminBSB/v15/\.suo

\.vs/AdminBSB/v15/Server/sqlite3/storage\.ide-shm

AdminBSB/bin/AdminBSB\.dll

AdminBSB/bin/AdminBSB\.pdb

AdminBSB/obj/Debug/AdminBSB\.csprojAssemblyReference\.cache

AdminBSB/obj/Debug/AdminBSB\.dll

AdminBSB/obj/Debug/AdminBSB\.pdb

AdminBSB/obj/Debug/AdminBSB\.csproj\.FileListAbsolute\.txt
